sudo: required

dist: trusty

language: node_js

addons:
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

node_js:
  - node

branches:
  only:
    - master

before_script:
  - npm install
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - npm run lint
  - npm run test
  - npm run e2e

after_success:
  - cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js

#notifications:
#  email:
#    on_failure: change
#    on_success: change